<div>

    <div class="panel panel-primary">


        <div class="panel-heading">
            <div class="row">

                <div class="col-sm-6">
                    <h4>Liste des bouteilles</h4>
                </div>

                <div class="col-sm-6 text-right">
                    <button class="btn btn-info" ui-sref="bottleAdd()">
                        <span class="glyphicon glyphicon-flash"></span> <span>Ajouter une bouteille</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="panel-body bg-info">

            <div class="modal fade" id="saveBottleModal" tabindex="-1" role="dialog" aria-labelledby="myBottleLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteBottleConfirmation">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form name="deleteForm" ng-submit="confirmDelete(bottle.id)">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                        ng-click="clear()">&times;</button>
                                <h4 class="modal-title">Confirm delete operation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Bottle?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                                </button>
                                <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Delete</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <form class="form-inline text-center">
                <div class="form-group">
                    <label>Filtres : </label>
                    <input type="text" placeholder="-- Buveur --" ng-model="search.user" ng-change="filterBottles()"
                        class="form-control">
                    <input type="text" placeholder="-- Appellation --" ng-model="search.appellation" ng-change="filterBottles()"
                        class="form-control">
                    <input type="text" placeholder="-- Domaine --" ng-model="search.domain" ng-change="filterBottles()"
                        class="form-control">
                    <input type="text" placeholder="-- Vigneron --" ng-model="search.vineward" ng-change="filterBottles()"
                        class="form-control">
                    <input type="text" placeholder="-- Catégorie --" ng-model="search.category" ng-change="filterBottles()"
                        class="form-control">
                    <input type="text" placeholder="-- Année --" ng-model="search.year" ng-change="filterBottles()"
                        class="form-control">
                </div>
            </form>

            <hr/>

            <div class="table-responsive">
                <table at-table at-list="filteredBottles" class="table table-hover" at-config="config" at-paginated>
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td at-implicit at-sortable at-attribute="user" at-title="Buveur"></td>
                        <td at-implicit at-sortable at-attribute="country" at-title="Pays"></td>
                        <td at-implicit at-sortable at-attribute="appellation" at-title="Appellation"></td>
                        <td at-implicit at-sortable at-attribute="domain" at-title="Domaine"></td>
                        <td at-implicit at-sortable at-attribute="vineward" at-title="Vigneron"></td>
                        <td at-implicit at-sortable at-attribute="category" at-title="Catégorie"></td>
                        <td at-implicit at-sortable at-attribute="color" at-title="Couleur"></td>
                        <td at-implicit at-sortable at-attribute="year" at-title="Année"></td>
                        <td at-implicit at-sortable at-attribute="price | euro | missing" at-title="Prix"></td>
                        <td at-implicit at-sortable at-attribute="number" at-title="Nombre"></td>
                        <td><button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-glass"></span></button></td>
                        <td><button type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-shopping-cart"></span></button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="panel-bottom bg-primary text-center">
            <at-pagination at-config="config" at-list="filteredBottles"></at-pagination>
        </div>

        {{allData}}
    </div>
</div>
